@import url(//db.onlinewebfonts.com/c/445a802ba2f4a7a30ddcafc8f9c84904?family=AngleciaProTitleW01-Regular);




.container{
    display: flex;
    height: 100vh;

}

.left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* !!!!!!!!! change */
    padding: 9rem;
}

.leftImg{
    background-image: url("../../images/creators.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;

}

.right{
    
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /* !!!!!!!!! change */
    padding: 9rem;
    background-color: #F1D7D8;
}

.right h2{
    font-family: 'AngleciaProTitleW01-Regular';
    color: #114127;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.right p{
    color: #114127;
    text-align: justify;
    font-size: 1.6rem;
    font-style: italic;
}

.right .author{
    
    font-size: 1.4rem;
    margin: 2rem 0 0 auto;
}

@media (max-width: 1000px){
    .container{
        flex-direction: column;
        height: max-content;
        background-color: #F1D7D8;
        padding: 3rem 0 1rem 0;
    }


    .left{
        height: 50vh;
    }
    .leftImg{
        background-size: cover;
        background-position: top;
    }

    .left,
    .right{
        width: 100%;
        padding: 0;
    }

    .right{
        padding: 2rem;
    }

    .right h2{
        font-size: 2.2rem;
        padding-bottom: 1rem;
    }

    .right p{
        font-size: 1.2rem;
        text-align: center;
    }

    .right .author{
        font-size: 1.2rem;
        margin: 0.8rem 0 0 auto;
    }
}