.contactDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 6rem 0;
    
}

.container{
    display: flex;
    padding: 1rem;
    width: 60%;
    border: 1px solid #e49c9c;
}


.left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    
} 
 
.leftImg{
    width: 100%;
    height: 100%;
    background-image: url('../../images/enterance01.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.right{
    width: 50%;
    background-color: #edd1cf;
    padding: 3rem 0;

}

.heading,
.heading2{
    font-size: 2rem;
    text-align: center;
    color: #114127;
    padding-bottom: 1rem
}

.heading2{
    padding-top: 2rem;
}

.right .contactItemAddress{
    margin-top: 0.6rem;
}

.right .contactList{
    font-size: 1.4rem;
    margin: 0 2rem;
    list-style: none;
}

.right .contactList .contactItem{
    margin-top: 0.6rem;

}

.right .contactList .contactItem:hover,
.right .contactList .contactItem a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.right .contactList .contactItem i{
    margin-right: 1rem;
}

.right .contactList .contactItem a{
    text-decoration: none;
    color: black;
}


@media (max-width: 1500px){
    .contactDiv{
        margin: 3rem 0;
    }

}

@media (max-width: 1215px){

    .container{
        width: 65%;
    }

    .right h2{
        font-size: 2.8rem;
    }
    .right li{
        font-size: 1.5rem;
    }

    .left{
        display: none;
    }
    .right{
        width: 100%;
    }
}

@media (max-width: 900px){
    .container{
        width: 80%;
    }

    .right h2{
        font-size: 2.6rem;
    }
    .right li{
        font-size: 1.3rem;
    }
    
}


@media (max-width: 700px){

    .contactDiv{
        margin-top: 4rem;
    }

    .container{
        width: 100%;
        padding: 0;
        border: none;
    }

}

@media (max-width: 450px){
    .right h2{
        font-size: 2.rem;
    }
    .right li{
        font-size: 1.3rem;
    }


}