.navbar{
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    border-bottom: 4px #F1D7D8 solid;

    

}

.left{
    background-image: url("./logo.jpg");
    height: 100%;
}

.logoImage{
    width: 30vw;
    height: 300px;
}





.right{
    width: 40%;
    font-size: 1.2rem;


}

.list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 15vh;
    
}

.listItem{
    list-style: none;
    
    
}

.listItem a{
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    
    padding: 0.4rem;
    
    
    
    color: azure;
}
