/* no scroll */
/* body {
    overflow:hidden;
} */

.newsOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsContainer{
    height: 90vh;
    width: 90vw;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.newsImg{
    background-image: url('../../images/news1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 100%;
    height: 100%;

    
}

.newsCloseDiv{

    position: fixed;
    top: 0;
    right: 0;

    background-color: white;
    border: 3px solid #114127;
    z-index: 20;
    
    padding: 0.5rem;
    
    
}

.newsClose{
    font-size: 4rem;
    color: red;
    cursor: pointer;
    
}

